/* @theme marp-theme_dataplant-ceplas-ccby */

@import 'default';
@import 'dataplant_marp-theme';

section {    
  background: url("https://raw.githubusercontent.com/nfdi4plants/Branding/7e7d442aafeaa767b9c14a63a16e459dadcbdaaf/logos/DataPLANT/DataPLANT_logo_square_bg_transparent.svg"), url("https://github.com/nfdi4plants/training-material/blob/main/images/ceplas/logos/CEPLAS_Icon.jpeg?raw=true"), url("https://mirrors.creativecommons.org/presskit/buttons/88x31/svg/by.svg");
  background-repeat: no-repeat;
  background-size: 3%, 2%, 5%;
  background-position: 2% 99%, 7% 99%, 11% 99%;
  background-color: white;
}

.two-columns {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  font-size: 20px;
}


/* 

h1,h2 {
  position: absolute;
  top: 7%;
  left: 7%;
}  */
